footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 4rem;
    position: absolute;
    width: 41.4rem;
    /* margin-top: 100px; */
}

footer a {
    text-decoration: none;
    color: rgb(37, 150, 255);
}
@media(max-width: 700px) {
    footer {
        position: relative;
        width: 100%;
    }
}